@import "common";
@import "variables";

.header-block {
  font-family: 'Acme', sans-serif;
  position: relative;
  width: 100%;
  z-index: 10;
  background: linear-gradient(45deg, #12C1E6, #01F973);

  .header-container {
    width: 100%;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      z-index: 5;

      .logo {
        z-index: 5;

        a {
          img {
            max-width: 92px;
          }
        }
      }

      .header-menu {
        .menu-icon {
          z-index: 5;
          display: block;
          position: relative;
          width: 30px;
          height: 20px;
          cursor: pointer;
          border: none;
          background: none;

          span, &::before, &::after {
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: $color-primary;
          }

          &::before, &::after {
            content: "";
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
          }

          &.active {
            span {
              transform: scale(0) translate(0px, -50%);
            }

            &::before {
              top: 50%;
              transform: rotate(-45deg) translate(0px -50%);
              -webkit-transform: rotate(-45deg)
            }

            &::after {
              top: 50%;
              transform: rotate(45deg) translate(0px 50%);
              -webkit-transform: rotate(45deg)
            }
          }
        }

        .header-nav {
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          padding-top: 92px;
          transition: left 0.3s ease 0s;
          overflow: auto;
          z-index: 4;

          ul {
            li {
              list-style-type: none;
              display: flex;
              flex-direction: column;
              align-items: center;

              a {
                text-decoration: none;
                text-transform: uppercase;
                @include fontProp(12px, 24px, $color-link);
                letter-spacing: 2px;
                padding: 8px;

                &:hover {
                  @include fontProp(14px, 24px, $color-link-hover);
                }

                &.current {
                  padding-bottom: 3px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  &:after {
                    content: "";
                    width: 40px;
                    height: 2px;
                    background-color: $color-link;
                    display: block;
                    text-align: center;
                    transition: all 0.3s ease 0s;
                  }
                }
              }


              &.get-skout-btn {
                button {
                  box-shadow: none;
                  margin: 200px 0 15px;
                  padding: 8px 55px;

                  &:hover {
                    box-shadow: none;
                  }
                }
              }

              &.login-btn {
                button {
                  box-shadow: none;
                  padding: 8px 22px;
                  margin: 0 0 40px;

                  &:hover {
                    box-shadow: none;
                  }
                }
              }
            }
          }

          &.active {
            left: 0;

            &::before {
              content: "";
              position: fixed;
              width: 100%;
              top: 0;
              left: 0;
              height: 62px;
              background: linear-gradient(45deg, #12C1E6, #01F973);
              z-index: 2;
              border: none;
            }
          }
        }
      }
    }
  }

  #headerContainerFixed {
    position: fixed;
    background-color: $color-primary;

    .menu-icon {
      span, &::before, &::after {
        background-color: $color-secondary-text;
      }
    }

    a {
      color: $color-secondary-text;

      &.current {
        &:after {
          background-color: $color-secondary-text;
        }
      }
    }

    .login-btn, .get-skout-btn {
      button {
        border-color: $color-secondary-text;
        color: $color-secondary-text;

        &:hover {
          @include fontProp(14px, 24px, $color-primary);
          color: $color-primary;
          background-color: $color-secondary-text;
        }
      }
    }
  }


  .header-content {
    max-width: 1440px;
    margin: 0 auto;

    .header-title {
      font-family: 'Actor', sans-serif;
      @include fontProp(60px, 70px, $color-primary);
      padding: 75px 30px 30px;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
    }

    .header-text {
      display: flex;
      flex-direction: column;
      padding: 0 30px 50px;

      p {
        padding-left: 20px;
        @include fontProp(13px, 24px, $color-primary);
        border-left: 1.5px solid $color-primary;
        font-family: 'Aclonica', sans-serif;
      }

      button {
        margin-top: 30px;
        align-self: center;
        padding: 8px 60px;
        border: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header-block {
    .header-container {
      .wrapper {
        display: flex;
        padding: 20px;

        .logo {

          a {
            img {
              max-width: 110px;
            }
          }
        }

        .header-menu {
          .menu-icon {
            display: none;
          }

          .header-nav {
            background: none;
            position: static;
            padding-top: 0;

            ul {
              display: flex;

              li {
                a {
                  color: $color-primary;
                  width: 120px;
                  text-align: center;

                  &:hover {
                    color: $color-primary;
                  }

                  &.current {
                    &:after {
                      background-color: $color-primary;
                      margin-top: 7px;
                    }
                  }
                }

                &.get-skout-btn, &.login-btn {
                  button {
                    border-color: $color-primary;
                    color: $color-primary;
                    background: none;
                    margin: 0 20px 0 0;

                    &:hover {
                      border-color: $color-link;
                    }
                  }
                }

                &.login-btn {
                  button {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .header-content {
      .header-title {
        @include fontProp(110px, 130px, $color-primary);
        padding: 160px 160px 120px;
      }

      .header-text {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 100px 100px;

        p {
          margin-right: 70px;
          padding-left: 30px;
          @include fontProp(20px, 26px, $color-primary);
          max-width: 700px;
        }

        button {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header-block {
    .header-container {
      .wrapper {
        padding: 20px 90px;
      }
    }

    .header-content {
      .header-text {
        padding: 0 200px 100px;

        p {
          margin-right: 120px;
        }
      }
    }
  }
}