@import "common";
@import "variables";

.plans-block {
  position: absolute;
  top: -300px;
  font-family: "Aclonica", sans-serif;
  width: calc(100vw - 18px);
  max-width: 1440px;

  .plans-title {
    margin-bottom: 30px;
    @include fontProp(24px, 36px, $color-primary-text);
    text-align: center;
  }

  .plans {
    padding-left: 13px;

    .plan-item {
      display: flex;
      flex-direction: column;
      padding: 35px 25px 55px;
      background-color: $color-primary;
      box-shadow: 0 12px 24px $color-mark;
      border-radius: 5px;
      margin: 15px;
      max-width: 260px;
      border-bottom: 1px solid $border-color-secondary;

      li {
        list-style-type: none;
      }

      .plan-title {
        @include fontProp(12px, 24px, $color-plan-title);
        font-family: "Acme", sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-align: center;

      }

      .plan-option {
        display: flex;
        align-items: center;
        border-top: 1.5px solid $border-color-secondary;
        @include fontProp(13px, 24px, $color-primary-text);
        padding: 13px 0;

        > img {
          max-width: 25px;
          margin-right: 20px;
        }
      }

      .plan-btn {
        padding: 8px 35px;
        margin-top: 40px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 1440px) {
  .plans-block {
    top: -400px;

    .plans-title {
      margin-bottom: 70px;
      @include fontProp(42px, 54px, $color-primary-text);
    }

    .plans {
      padding-left: 0;

      .plan-item {
        justify-content: space-between;
        padding: 40px 55px;
        margin: 25px;
        max-width: 330px;

        .plan-title {
          @include fontProp(18px, 24px, $color-link);
          padding-bottom: 40px;
          text-align: center;
        }

        .plan-option {
          display: flex;
          align-items: center;

          > img {
            max-width: 35px;
          }
        }
      }
    }
  }
}

.color-item {
  background: linear-gradient(135deg, #1AB4F8, #00E89D);

  .plan-title, .plan-option {
    color: $color-primary !important;
  }
}

.non-active {
  color: $color-footer-back !important;
}