@import "common";
@import "variables";


.tips-title {
  padding: 40px 30px;
  font-family: 'Aclonica', sans-serif;
  @include fontProp(24px, 36px, $color-primary-text);
}

.tips {
  font-family: 'Aclonica', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 15px 30px;

  .tip-block {
    display: flex;
    align-items: center;
    padding: 10px;
    border-left: 5px solid $border-color-primary;
    box-shadow: 0 12px 24px $color-mark;
    border-radius: 5px;
    margin-bottom: 10px;

    .tip-block-text {
      flex-grow: 1;
      padding: 15px 20px 0 10px;

      .title {
        @include fontProp(16px, 24px, $color-primary-text);

      }

      .phrase {
        @include fontProp(10px, 18px, $color-primary-text);
      }
    }

    .tip-img {
      max-width: 60px;
      padding-right: 5px;
    }

    .notes {
      align-self: flex-end;
      max-width: 18px;
    }
  }
}

.more-tips {
  padding: 8px 80px;
  background-color: $color-link;
  color: $color-primary;
  display: block;
  margin: 10px auto 80px;
}


@media (min-width: 768px) {
  .tips-title {
    padding: 20px;
  }

  .tips {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .tip-block {
      max-width: 350px;
      margin: 5px;
    }
  }

  .more-tips {
    margin: 20px auto;
  }
}

@media (min-width: 992px) {
  .tips-title {
    padding: 40px 135px;
    @include fontProp(42px, 54px, $color-primary-text);
  }

  .tips {
    .tip-block {
      max-width: 450px;

      .tip-block-text {
        padding: 15px 25px 0 45px;

        .title {
          @include fontProp(24px, 36px, $color-primary-text);
        }

        .phrase {
          @include fontProp(13px, 24px, $color-primary-text);
        }
      }

      .tip-img {
        max-width: 90px;
      }

      .notes {
        max-width: 20px;
      }
    }
  }

  .more-tips {
    margin: 40px auto 100px;
  }
}

@media (min-width: 1200px) {
  .tips {
    padding: 40px;

    .tip-block {
      max-width: 500px;
      padding: 15px;
      margin: 15px;
    }
  }
}