$color-secondary-text: #7F7F7F;
$color-footer-back: #F2F2F2;
$color-link: #22BF95;
$color-link-hover: #59D865;
$color-primary: #FFF;
$color-primary-text: #191919;
$color-block-divider: #B2B2B2;
$color-mark: #E5E5E5;

$border-color-primary: $color-link;
$bg-color: $color-primary;
$bg-color-hover: $color-link;
$font-color-hover: $color-primary;
$border-color-secondary: $color-footer-back;
$color-plan-title: $color-link;